.link {
    padding: 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
}

.link:hover {
    background-color: rgba(34, 36, 38, .1);
    color: #000;
}

.active {
    background-color: #fff !important;
    padding: 0px !important;
}

.active .link {
    background-color: rgba(34, 36, 38, .1) !important;
    color: #000 important;
}

.menu-item {
    padding: 0 !important;
}