body {
    padding: 0px !important;
}
.hero-image {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    width: 100vw;
    background-color: #123f5a !important;
    
    
}

.main-content{ 
    margin-top: 50px;
    width: 800px !important;
    padding: 30px;
    padding-top:  2px;
}

.screenshot {
    max-height: 50vh;
    max-width: 100vh;
    
    
}

.site-link {
    color: #000;
}